<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="114.215.104.217" />
    <add key="User" value="root" />
    <add key="Password" value="123" />
    <add key="Database" value="vfund" />
    <add key="Port" value="3306" />
    <add key="Charset" value="utf-8" />
  </appSettings>
</configuration>