<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="ApiKey" value="LnfPu4YBTVAHF6aUEA770sYpje7GjVIVwWA94WJ29Ps"/>
    <add key="SecretKey" value="pOnKgUb7d9SkPYtb9ZZPN4j5jdWemww5KfDoLxo1NMp"/>
  </appSettings>
</configuration>
